/* General container styling */
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: azure;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
    

}

/* Error message styling */
.error {
    color: #fb0047;
    background: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    width: 100%;

}

/* Button styling */
.button {
    background: linear-gradient(to left, #ff0000, #0000ff);
    color: #fff;
    border: solid 1px #9da3a8;
    padding: 12px 20px;
    border-radius: 25px 3px 25px 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background: linear-gradient(to right, #ff0000, #0000ff);
    color: white;  /* Ensure text visibility */
    border: none;
    transition: background 0.3s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}

/* Responsive design for small screens */
@media (max-width: 600px) {
    .container {
        padding: 10px;

    }
    .button {
        width: 100%;

    }
}


body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;

}

div{
    text-align: center;

}

h1{
    color: #333;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;

}

p{
    color: #666;
    font-size: 18px;
    margin: 20px 0;
    text-align: center; 

}

a{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;  

}   
